akshare==1.15.69
altgraph==0.17.4
babel==2.17.0
backoff==2.2.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.3
bidict==0.23.1
blinker==1.8.2
cached-property==2.0.1
certifi==2025.1.31
cffi==1.16.0
charset-normalizer==3.4.1
chevron==0.14.0
click==8.1.8
contourpy==1.1.1
cryptography==44.0.2
cycler==0.12.1
decorator==5.2.1
Delorean==1.0.0
docopt==0.6.2
et_xmlfile==2.0.0
Flask==3.0.3
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
fonttools==4.55.3
frozendict==2.4.6
futu_api==9.0.5008
genanki==0.13.1
getmac==0.9.5
google-cloud==0.34.0
h11==0.14.0
html5lib==1.1
humanize==4.10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.5
jproperties==2.1.2
jsonpath==0.82.2
kiwisolver==1.4.7
lxml==5.3.1
macholib==1.16.3
MarkupSafe==2.1.5
matplotlib==3.7.5
mini-racer==0.12.4
multitasking==0.0.11
numpy==1.24.4
openpyxl==3.1.2
packaging==24.2
pandas==2.0.3
peewee==3.17.9
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
protobuf==3.20.3
pyasn1==0.6.1
pycparser==2.22
pycryptodome==3.21.0
pygame==2.6.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pymunk==6.8.1
PyMuPDF==1.24.11
pyparsing==3.1.4
pyscroll==2.31
pytesseract==0.3.13
python-dateutil==2.8.2
python-engineio==4.11.2
python-socketio==5.12.1
PyTMX==3.32
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
solarwolf==1.6.0
soupsieve==2.6
SQLAlchemy==2.0.38
stomp.py==8.2.0
stuntcat==0.2.4
tabulate==0.9.0
tenacity==9.0.0
thorpy==2.1.8
tigeropen==3.3.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
wsproto==1.2.0
xlrd==2.0.1
yfinance==0.2.52
zipp==3.20.2
